<p id="notice"><%= notice %></p>

<h1 class="text-xs-center">New Employee</h1>

<ul class="breadcrumb" style="background: none">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Locations", locations_path %></li>
	<li><%= link_to @location.name.titleize, location_path(@location) %></li>
	<li><%= link_to "#{@location.name.titleize} Employees", location_employees_path(@location) %></li>
	<li class="active">New Employee</li>
</ul>

<div class="container-fluid">
	<div class="col-xs-12">
		<%= render 'form' %>
	</div>
</div>