<p id="notice"><%= notice %></p>

<h1 class="text-xs-center"><%= @employee.name.titleize %></h1>

<ul class="breadcrumb" style="background: none">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "Locations", locations_path %></li>
	<li><%= link_to @location.name.titleize, location_path(@location) %></li>
	<li><%= link_to "#{@location.name.titleize} Employees", location_employees_path(@location) %></li>
	<li class="active"><%= "#{@employee.name}" %></li>
</ul>


<div class="container-fluid">
	<p>
		<strong>Name:</strong>
		<%= @employee.name %>
	</p>

	<p>
		<strong>Phone:</strong>
		<%= @employee.phone %>
	</p>

	<p>
		<strong>Email:</strong>
		<%= @employee.email %>
	</p>

	<p>
		<strong>Location:</strong>
		<%= link_to @employee.location.name, location_path(@location) %>
	</p>
</div>



